h1, h2, h3 {
    color: gray;
}
main {
    --mainColor: #e60202;
}
#main {
    color: var(--mainColor);
}
.h2 {
    color: red;
}
.heading {
    color: green;
}
ul > li {
    font-weight: bold;
}
section > p {
    color: red;
}
section p {
    font-size: 1.5rem;
}
div #color {
    color: indigo;
}
p a {
    color: green;
}
p a {
    font-style: italic;
}
.greet + div {
    color: salmon;
}
.translucent-box {
    background-color: hsl(0,100%,50%);
}