/*- Припустімо, що розмір шрифту для body встановлено на 16 пікселів.
- Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів.*/
html {
    font-size: 100%;
}
/*- Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів.*/
div {
    font-size: 1em;
}
/*- визначте властивсть font-size для span, вказавши значення в одиницях виміру em.*/
span {
    font-size: 1.6em;
}
/*- Всередині файла css/main.css визначте властивсть font-size для strong так, щоб всі слова мали однаковий відносний розмір, еквівалентний 25,6 пікселів.*/
.strong {
    font-size: 1.6em; 
}
/*стилізувати елементи списку за допомогою стилю квадрат*/
li {
    list-style: inside square;
}
